i.better_search {
  background: url("images/search-icon.svg") center center no-repeat;
  height: 30px;
  width: 30px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

#search-block-form,
#search-form {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.js-form-type-search input.form-search {
  width: 100%;
  height: 30px;
  background: #2b303b;
  border: none;
  font-size: 1em;
  float: left;
  color: #fff;
  padding-left: 40px;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#search-form .icon {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1;
  color: #4f5b66;
  /*Using flexbox to align icon to center*/
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

#search-block-form .icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #4f5b66;
  /*Using flexbox to align icon to center*/
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

.js-form-type-search input:-webkit-input-placeholder {
  color: #65737e;
}

.js-form-type-search input:-moz-placeholder {
  color: #65737e;
}

.js-form-type-search input:-ms-input-placeholder {
  color: #65737e;
}
